

//////////////////////////////////////////////////////
// Utility Classes


.text-50{	color: $color-50;	}
.text-100{	color: $color-100; }
.text-200{	color: $color-200;	}
.text-300{	color: $color-300; }
.text-400{	color: $color-400;	}
.text-500{	color: $color-500; }
.text-600{	color: $color-600;	}
.text-700{	color: $color-700; }
.text-800{	color: $color-800;	}
.text-900{	color: $color-900; } 

.text-primary-light {
	color: $color-300 !important;
}
.text-primary {
	color: $color-500 !important;
}
.text-primary-dark {
	color: $color-800 !important;
}
.text-secondary {
	color: $color-500 !important;
}
.text-on-primary {
	color: $color-on-500 !important;
}
.text-on-secondary {
	color: $color-on-500 !important;
}
.text-background {
	color: $color-behind-500 !important;
}
.text-surface {
	color: $color-behind-500 !important;
}
 
.bg-primary-light {
	background: $color-300 !important;
}
.bg-primary {
	background: $color-500 !important;
}
.bg-primary-dark {
	background: $color-800 !important;
}
.bg-secondary {
	background: $color-500 !important;
}
.bg-on-primary {
	background: $color-on-500 !important;
}
.bg-on-secondary {
	background: $color-on-500 !important;
}
.bg-background {
	background: $color-behind-500 !important;
}
.bg-surface {
	background: $color-behind-500 !important;
}
 
.text-align-right{
	text-align: right!important;
}
.text-align-left{
	text-align: left!important;
}
.text-align-center{
	text-align: center!important;
}
.align-center{
	margin-left: auto!important;
	margin-right: auto!important;
	display: block!important;
}

.z-index-1{
	z-index: 1;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}
.z-index-4{
	z-index: 4;
}
.z-index-5{
	z-index: 5;
}
.z-index-6{
	z-index: 6;
}
.z-index-7{
	z-index: 7;
}

.hidden {
	display: none;
	visibility: hidden;
}

.display {
	display: initial;
	visibility: initial;
}


//////////////////////////////////////////////////////
// Utility Mixins

/* Media Query Mixin */
@mixin m($updown: min, $amount: 600px) {
  @if $updown == "max" {
    @media (max-width: $amount - 1) { @content; }
  }
  @if $updown == "min" {
    @media (min-width: $amount) { @content; }
  }
}

@mixin vanish($speed:$fast){
	opacity: 0;
	pointer-events: none;
	max-height: 0px;
	transition: all $speed;
}
@mixin appear($speed:$fast){
	opacity: 1;
	pointer-events: initial;
	max-height: 9999999px;
	transition: all $speed;
}

@mixin vanishClean($speed:$fast){
	opacity: 0;
	pointer-events: none;
	transition: all $speed;
}
@mixin appearClean($speed:$fast){
	opacity: 1;
	pointer-events: initial;
	transition: all $speed;
}

@mixin user-select-none(){
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	pointer-events: none;
}
@mixin user-select-initial(){
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
	pointer-events: initial;
}

/* Cursors */
@mixin pointer() {
  cursor: pointer;
  user-select: none;
}

@mixin default() {
  cursor: default;
  user-select: text;
}

@mixin text() {
  cursor: text;
  user-select: text;
}

@mixin grab-cursor {
  // http://www.google.com/intl/en_ALL/mapfiles/openhand.cur
  cursor: url('data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAA//AAAd/wAAGf+AAAH9gAADbYAAA2yAAAZsAAAGbAAAAGAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//4AB//8AAf//AAD//5AA///gAP//4AD//8AF///AB///5A////5///8='), all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
  user-select: none;
}

@mixin grabbing-cursor {
  // http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur
  cursor: url('data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAAH/AAAB/wAAA/0AAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//+AB///wAf//4AH//+AD///yT/////////////////////////////8='), all-scroll;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
  user-select: none;
}


//////////////////////////////////////////////////////
// Consistent Padding

$base: 0.5rem;
$spread: 1.5;

@mixin pb-1() {
	$multi: 1;
	padding-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin pt-1() {
	$multi: 1;
	padding-top: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-top: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-top: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-top: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-top: ($base*$multi)*5*$spread;
	// }
}
@mixin p-1() {
	$multi: 1;
	padding-top: ($base*$multi)*$spread;
	padding-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-top: ($base*$multi)*2*$spread;
	// 	padding-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-top: ($base*$multi)*3*$spread;
	// 	padding-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-top: ($base*$multi)*4*$spread;
	// 	padding-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-top: ($base*$multi)*5*$spread;
	// 	padding-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin mb-1() {
	$multi: 1;
	margin-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin mt-1() {
	$multi: 1;
	margin-top: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-top: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-top: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-top: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-top: ($base*$multi)*5*$spread;
	// }
}
@mixin m-1() {
	$multi: 1;
	margin-top: ($base*$multi)*$spread;
	margin-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-top: ($base*$multi)*2*$spread;
	// 	margin-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-top: ($base*$multi)*3*$spread;
	// 	margin-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-top: ($base*$multi)*4*$spread;
	// 	margin-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-top: ($base*$multi)*5*$spread;
	// 	margin-bottom: ($base*$multi)*5*$spread;
	// }
}

@mixin pb-2() {
	$multi: 2;
	padding-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin pt-2() {
	$multi: 2;
	padding-top: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-top: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-top: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-top: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-top: ($base*$multi)*5*$spread;
	// }
}
@mixin p-2() {
	$multi: 2;
	padding-top: ($base*$multi)*$spread;
	padding-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-top: ($base*$multi)*2*$spread;
	// 	padding-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-top: ($base*$multi)*3*$spread;
	// 	padding-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-top: ($base*$multi)*4*$spread;
	// 	padding-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-top: ($base*$multi)*5*$spread;
	// 	padding-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin mb-2() {
	$multi: 2;
	margin-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin mt-2() {
	$multi: 2;
	margin-top: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-top: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-top: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-top: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-top: ($base*$multi)*5*$spread;
	// }
}
@mixin m-2() {
	$multi: 2;
	margin-top: ($base*$multi)*$spread;
	margin-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-top: ($base*$multi)*2*$spread;
	// 	margin-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-top: ($base*$multi)*3*$spread;
	// 	margin-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-top: ($base*$multi)*4*$spread;
	// 	margin-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-top: ($base*$multi)*5*$spread;
	// 	margin-bottom: ($base*$multi)*5*$spread;
	// }
}

@mixin pb-3() {
	$multi: 4;
	padding-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin pt-3() {
	$multi: 4;
	padding-top: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-top: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-top: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-top: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-top: ($base*$multi)*5*$spread;
	// }
}
@mixin p-3() {
	$multi: 4;
	padding-top: ($base*$multi)*$spread;
	padding-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	padding-top: ($base*$multi)*2*$spread;
	// 	padding-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	padding-top: ($base*$multi)*3*$spread;
	// 	padding-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	padding-top: ($base*$multi)*4*$spread;
	// 	padding-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	padding-top: ($base*$multi)*5*$spread;
	// 	padding-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin mb-3() {
	$multi: 4;
	margin-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-bottom: ($base*$multi)*5*$spread;
	// }
}
@mixin mt-3() {
	$multi: 4;
	margin-top: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-top: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-top: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-top: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-top: ($base*$multi)*5*$spread;
	// }
}
@mixin m-3() {
	$multi: 4;
	margin-top: ($base*$multi)*$spread;
	margin-bottom: ($base*$multi)*$spread;
	// @include m(min, $bp-small){
	// 	margin-top: ($base*$multi)*2*$spread;
	// 	margin-bottom: ($base*$multi)*2*$spread;
	// }
	// @include m(min, $bp-medium){
	// 	margin-top: ($base*$multi)*3*$spread;
	// 	margin-bottom: ($base*$multi)*3*$spread;
	// }
	// @include m(min, $bp-large){
	// 	margin-top: ($base*$multi)*4*$spread;
	// 	margin-bottom: ($base*$multi)*4*$spread;
	// }
	// @include m(min, $bp-xlarge){
	// 	margin-top: ($base*$multi)*5*$spread;
	// 	margin-bottom: ($base*$multi)*5*$spread;
	// }
}

.m-1{
	@include m-1();
}
.mt-1{
	@include mt-1();
}
.mb-1{
	@include mb-1();
}

.m-2{
	@include m-2();
}
.mt-2{
	@include mt-2();
}
.mb-2{
	@include mb-2();
}

.m-3{
	@include m-3();
}
.mt-3{
	@include mt-3();
}
.mb-3{
	@include mb-3();
}

.p-1{
	@include p-1();
}
.pt-1{
	@include pt-1();
}
.pb-1{
	@include pb-1();
}

.p-2{
	@include p-2();
}
.pt-2{
	@include pt-2();
}
.pb-2{
	@include pb-2();
}

.p-3{
	@include p-3();
}
.pt-3{
	@include pt-3();
}
.pb-3{
	@include pb-3();
}
