.answer-question-fields{
	margin-bottom: 4rem;

	p.question-number{
		color: $mdc-theme-grey500;
		margin-bottom: 0.5rem;
	}
	h1.question{
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

}

.answer-question-images-comments{
	margin-bottom: 4rem;

	.question-image-wrapper{
		position: relative;
		@include mdc-elevation(1);

		.question-image{
			display: block;
			width: 100%;
		}

		.question-image-fab{
			@include mdc-fab-container-color($mdc-theme-primary);
			position: absolute;
			bottom: -28px; // 1/2 of fab height (56px)
			right: 28px;
		}
	}

	.answer-comments{

		.your-answer{
			color: $mdc-theme-grey500;
			margin-top: 0;
		}
		.yes{
			@include mdc-button-shape-radius(4px 0 0 4px);
			border-right: 1px solid $mdc-theme-primary;
			width: 50%;
		}
		.no{
			@include mdc-button-shape-radius(0 4px 4px 0);
			border-left: 1px solid $mdc-theme-primary;
			width: 50%;
		}
		.next{
			width: 100%;
			margin-top: 1.5rem;
			margin-bottom: 2rem;
		}

	}

}

.comment-box{
	@include mdc-elevation(1);
	border-radius: 4px;
	overflow: hidden;

	.comment-box-header{
		display: flex;
		align-items: center;
		background-color: $mdc-theme-primary;
		padding: 1rem;

		p{
			color: $mdc-theme-on-primary;
			margin: 0;
		}
		
		$number-ring-size: 36px;
		.number{
			display: inline-block;
			border: 2px solid $mdc-theme-on-primary;
		  border-radius: 100%;
		  color: #ffffff;
		  line-height: $number-ring-size;
		  text-align: center;
		  width: $number-ring-size + 4px; // Adds double border width
		  font-size: 1.5rem;
		  margin-right: 1rem;
		}
		.header-text{
			display: inline-block;
		}

	}

	.comment-list{
		position: relative;
		padding: 0;

		img{
			display: block;
			width: 40px;
			height: 40px;
			margin-right: 16px;
			border-radius: 100%;
		}

		.comment-list-fab{
			@include mdc-fab-container-color($mdc-theme-primary);
			position: absolute;
			bottom: -28px; // 1/2 of fab height (56px)
			right: 28px;
		}

	}

}