/*————————————————————*/
/* Material variables */
/*————————————————————*/

$mdc-theme-primary: #6A1B9A; // Purple
$mdc-theme-secondary: #283593; // Blue
$mdc-theme-on-primary: #ffffff; // White on purple
$mdc-theme-on-secondary: #ffffff; // White on blue
$mdc-theme-background: #ffffff; // White
$mdc-theme-surface: #ffffff; // White

/*——————————————————*/
/* Custom variables */
/*——————————————————*/

$mdc-theme-dark-grey: #666666;