.comment-section{
	.MuiCardHeader-root{
		background: $color-500;
		.MuiTypography-root{
			color: white; 
			&.MuiCardHeader-subheader{
				color: rgba(white, 0.5);
			}
		}
		.MuiAvatar-root{
			background: none;
			border: 1px solid;
		}
	}
	.MuiCardMedia-root{
		background: $color-grey-50;
		max-height: 500px;
		overflow: scroll;
	}
}
