/*————————————————————*/
/* Material variables */
/*————————————————————*/

$mdc-theme-primary: #6A1B9A; // Purple
$mdc-theme-secondary: #283593; // Blue
$mdc-theme-on-primary: #ffffff; // White on purple
$mdc-theme-on-secondary: #ffffff; // White on blue
$mdc-theme-background: #ffffff; // White
$mdc-theme-surface: #ffffff; // White

/*——————————————————*/
/* Custom variables */
/*——————————————————*/

// So many different greys, tried to give them a material-like logic

$mdc-theme-grey700: #454647;
$mdc-theme-grey600: #5A5A5A;
$mdc-theme-grey500: #707070;
$mdc-theme-grey400: #9E9E9E;

$mdc-theme-grey200: #C5C6C5;
$mdc-theme-grey100: #E1E2E1;
$mdc-theme-grey50: #F5F5F6;

// Breakpoints
$bp-xsmall: 350px !default;
$bp-small: 576px !default;
$bp-medium: 768px !default;
$bp-large: 992px !default;
$bp-xlarge: 1200px !default;
$bp-xxlarge: 1500px !default;

// Transition
$xfast: 0.1s;
$fast: 0.3s;
$medium: 1s;
$slow: 3s;

// Border Radius
$border-radius: 4px;

//Letter Spacing
$tracked: 0.05em;
