/*————————————————————*/
/* Material UI variables */
/*————————————————————*/

// These are based off MUI's color pallets https://material-ui.com/customization/color/

// Primary Color
$color-50:	#fafafa;		
$color-100:	#f5f5f5;
$color-200:	#eeeeee;		
$color-300:	#e0e0e0;
$color-400:	#bdbdbd;			
$color-500:	#9e9e9e;
$color-600:	#757575;		
$color-700:	#616161;
$color-800:	#424242;		
$color-900:	#212121;

$color-on-500:	#fff;		
$color-behind-500:#fff;	

// Greys
$color-grey-50:	#fafafa;		
$color-grey-100:	#f5f5f5;
$color-grey-200:	#eeeeee;		
$color-grey-300:	#e0e0e0;
$color-grey-400:	#bdbdbd;		
$color-grey-500:	#9e9e9e;
$color-grey-600:	#757575;		
$color-grey-700:	#616161;
$color-grey-800:	#424242;		
$color-grey-900:	#212121;



/*——————————————————*/
/* Custom variables */
/*——————————————————*/

// Breakpoints
$bp-xsmall: 350px !default;
$bp-small: 576px !default;
$bp-medium: 768px !default;
$bp-large: 992px !default;
$bp-xlarge: 1200px !default;
$bp-xxlarge: 1500px !default;

// Transition
$xfast: 0.1s;
$fast: 0.3s;
$medium: 1s;
$slow: 3s;

// Border Radius
$border-radius: 4px;

//Letter Spacing
$tracked: 0.05em;
