.create-question-fields{
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;

	.field{
		width: 100%;
		margin-bottom: 2rem;
	}

	.question-field-input{
		font-size: 2.125rem;
		line-height: 1.5;
	}

}