$eii-height: 415px;

.editor-images-import{
	margin-bottom: 4rem;
}

/*————————————*/
/* Images Tab */
/*————————————*/

.images-tab .question-image-upload::-webkit-file-upload-button {
  visibility: hidden;
}

#images-tab-upload{
	display: none;
}

.images-tab .images-tab-upload-label{
	position: relative;
	display: block;
	width: 100%;
	height: $eii-height;
	background-color: $mdc-theme-grey100;
	text-align: center;
	cursor: pointer;
}

// Attach your images here text
.images-tab .images-tab-upload-label .mdc-typography--button{
	position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.images-tab .paperclip-icon{
	position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .12;
  font-size: 12rem;
}

/*————————————*/
/* Import Tab */
/*————————————*/

.import-tab{
	display: flex;
}

#import-html-upload, #import-css-upload{
	display: none;
}

.import-tab label, .import-css label{
	position: relative;
	display: block;
	height: $eii-height;
	background-color: $mdc-theme-grey100;
	text-align: center;
	cursor: pointer;
	flex-grow: 1;
}

.import-css label{
	background-color: $mdc-theme-grey200;
}