$eii-height: 392px; // Height of 7 dropdown menus

.editor-images-import{
	margin-bottom: 4rem;
}

/*————————————*/
/* Images Tab */
/*————————————*/

.images-tab{

	.question-image-upload::-webkit-file-upload-button {
	  visibility: hidden;
	}

	.images-tab-upload-label{
		position: relative;
		display: block;
		width: 100%;
		min-height: $eii-height;
		background-color: $mdc-theme-grey100;
		text-align: center;
		cursor: pointer;
	}

	.images-tab-upload-label .mdc-typography--button{
		position: absolute;
	  top: 45%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

	.paperclip-icon{
		position: absolute;
	  top: 45%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  opacity: .12;
	  font-size: 12rem;
	}

	#images-tab-upload{
		display: none;
	}
	
	// Demo output image
	#output-image{
		display: block;
		width: 100%;
	}

}

/*————————————*/
/* Import Tab */
/*————————————*/

.import-tab{
	display: flex;

	.column{
		flex: 1 1 0;
	}
	
	// Hide input field
	#import-html-upload, #import-css-upload{
		display: none;
	}
	
	// Style label in place of input field
	label{
		position: relative;
		display: block;
		height: $eii-height;
		background-color: $mdc-theme-grey100;
		text-align: center;
		cursor: pointer;

		// Attach your images here text
		.mdc-typography--button{
			position: absolute;
		  top: 45%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  width: 100%;
		}

		.paperclip-icon{
			position: absolute;
		  top: 45%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  opacity: .12;
		  font-size: 12rem;
		}

	}

	.import-css label{
		background-color: $mdc-theme-grey200;
	}

	.import-fonts{
		ul{
			padding: 0;
			margin: 0;
		}

		li{
			position: relative;
		}
		
		// h1,h2,h3 etc
		.tag-title{
			position: absolute;
			left: 1rem;
			top: 17px;
			margin: 0;
			z-index: 1;
			pointer-events: none;
		}
		// Font select
		.font-selection{
			width: 100%;
		}

		.mdc-select__selected-text{
			padding-left: 4rem;
			padding-top: 15px;
			padding-bottom: 9px;
		}
	}
}