.header{
	@include mdc-top-app-bar-fill-color($mdc-theme-background);	
	@include mdc-top-app-bar-ink-color($mdc-theme-grey600);
	@include mdc-elevation(3);

	.login-button{
		@include mdc-button-ink-color($mdc-theme-grey600);
		margin-right: 20px;
	}

	.sign-up-button{
		margin-right: 20px;
	}

	/* Placeholder avatar */
	.header-avatar{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $mdc-theme-grey100;
		margin-right: 9rem;
	}

	.header-notifications{
		margin-right: 1rem;
	}
	.header-grid-1{
		padding-top: 9px;
		padding-bottom: 0;
		width: 100%;
		h1{
			margin: 0;
			line-height: 45px;
		}
	}

	/*———————*/
	/* Row 2 */
	/*———————*/
	// For when the header needs to show extra info

	.header-row-2{
		position: relative;
		border-top: 2px solid $mdc-theme-grey100;
		.header-grid-2{
			padding-top: 9px;
			padding-bottom: 0;
			width: 100%;
		}
		.question-counter{
			position: absolute;
			top: -0.9rem;
			left: 0;
			right: 0;
			margin: 0;
			margin: auto;
			width: fit-content;
			background-color: $mdc-theme-surface;
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.font-title, .project-title{
			margin: 0;
			line-height: 1.4;
			color: $mdc-theme-grey500;
		}
		.emphasis{
			font-weight: 700;
			color: black;
		}
		.show-comments-switch{
			@include mdc-switch-toggled-on-color($mdc-theme-primary);	
			margin-right: 0.5rem;
			margin-top: 1rem;
		}
		.show-comments-switch-label{
			text-transform: uppercase;
			position: relative;
			top: -2px; // aligns label to switch
		}
	}
}
