.MuiAppBar-positionFixed{
	z-index: 9999!important;
}

.header{
	// @include mdc-top-app-bar-fill-color($mdc-theme-background);	
	// @include mdc-top-app-bar-ink-color($mdc-theme-grey600);
	// @include mdc-elevation(3);

	.sign-in-button{
		// @include mdc-button-ink-color($mdc-theme-grey600);
		margin-right: 20px;
	}
	.logo{
		line-height: 50px;
	}
	.header-right{
		margin-top: 6px;
	}
	/* Placeholder avatar */
	.header-avatar i{
		border-radius: 50%;
		background: rgba($mdc-theme-primary, 1) url(/static/img/avatar-fallback-50.png) no-repeat;
		background-size: cover;
		width: 32px;
		height: 32px;
		position: absolute;
		top: calc(50% - 16px);
		left: calc(50% - 16px);
	}

	.header-notifications{
		margin-right: 1rem;
	}

	/*———————*/
	/* Row 2 */
	/*———————*/
	// For when the header needs to show extra info

	.header-row-2{
		position: relative;
		border-top: 2px solid $mdc-theme-grey100;
		.header-grid-2{
			padding-top: 9px;
			padding-bottom: 0;
			width: 100%;
		}
		.question-counter{
			position: absolute;
			top: -0.9rem;
			left: 0;
			right: 0;
			margin: 0;
			margin: auto;
			width: fit-content;
			background-color: $mdc-theme-surface;
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.font-title, .project-title{
			margin: 0;
			line-height: 1.4;
			color: $mdc-theme-grey500;
		}
		.emphasis{
			font-weight: 700;
			color: black;
		}
		.progress-bar{
			position: absolute;
			top: -3px;
		}

		.show-comments-switch{
			// @include mdc-switch-toggled-on-color($mdc-theme-primary);	
			margin-right: 1rem;
			margin-top: 0.9rem;
		}
		.show-comments-switch-label{
			text-transform: uppercase;
			position: relative;
			top: -2px; // aligns label to switch
		}
	}
}
