.header{
	@include mdc-top-app-bar-fill-color($mdc-theme-background);	
	@include mdc-top-app-bar-ink-color($mdc-theme-grey600);
	@include mdc-elevation(3);
}

.header .login-button{
	@include mdc-button-ink-color($mdc-theme-grey600);
	margin-right: 20px;
}

.header .sign-up-button{
	margin-right: 20px;
}

/* Placeholder avatar */
.header .header-avatar{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: $mdc-theme-grey100;
	margin-right: 1rem;
}

.header .header-notifications{
	margin-right: 1rem;
}