/* I made utitlity classes for weight. Surely they must have built this
in somewhere but I can't find it ¯\_(ツ)_/¯ */
.mdc-typography--thin{
	font-weight: 100;
}
.mdc-typography--light{
	font-weight: 300;
}
.mdc-typography--regular{
	font-weight: 400;
}
.mdc-typography--medium{
	font-weight: 500;
}
.mdc-typography--bold{
	font-weight: 700;
}
.mdc-typography--black{
	font-weight: 900;
}