.test-overview{
	.project-title{
		color: $color-grey-600;
		margin-bottom: 0;
	}
	.test-title{
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		span{
			color: $color-grey-200;
		}
	}
	.action-list{
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
		}
		p{
			color: $color-500;
			margin-right: 1rem;
			padding-right: 1rem;
			border-right: 2px solid $color-grey-100;
		}
		li:last-of-type p{
			border-right: none;
		}
	}
}
.test-result-header{
	@media print {
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
}

.test-result-section{
	page-break-inside: avoid;
}

.user-completion{
	padding-top: 0;
	padding-right: 0;

	.user-completion-progress-bar{
		margin-top: 1rem;
	}
	.user-completion-percentage{
		color: $color-grey-400;
		margin: 0;
		margin-left: 1rem;
	}
	.user-completion-fraction{
		color: $color-grey-500;
		margin-top: 0.5rem;
	}
}